[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
langchain-chroma = "*"
chromadb = "*"
sentence-transformers = "*"
transformers = "*"
torch = "*"
pypdf = "*"
unstructured = "*"
python-dotenv = "*"
groq = "*"

[dev-packages]

[requires]
python_version = "3.11"
